!!!5
html
    head
        meta(charset="utf-8")
        title Hax4
        link(rel="stylesheet", type="text/css", href="public/vendor/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="public/vendor/bootstrap/css/bootstrap-responsive.min.css")
        link(rel="stylesheet", type="text/css", href="public/vendor/animate.css/animate.min.css")
        link(rel="stylesheet", type="text/css", href="public/css/index.css")
        script(src="public/vendor/jquery/jquery.min.js")
        script(src="public/vendor/jquery.stellar/jquery.stellar.min.js")
        script(src="public/js/index.js")
    body
        div.logo-intro
            div.logo-up
                img.logo(src="public/img/hax4_logo.png") 
            div.logo-down
                img.logo(src="public/img/hax4_logo.png") 

        div.left-navigation.affix
            ul.unstyled
                li.about
                    a(href="#about")
                        | About
                li.works
                    a(href="#works")
                        | Works
                li.opensource
                    a(href="#opensource")
                        | Open Source
                li.contact
                    a(href="#contact")
                        | Contact
                li.star
                    a(href="#star")
                        | &#9733;

        div.slides.slide-about

        div.slides.slide-works
            
        div.slides.slide-opensource

        div.slides.slide-contact

        div.slides.slide-star
            
