!!!5
html
    head
        meta(charset="utf-8")
        title Hax4
        link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Merriweather+Sans")
        link(rel="stylesheet", type="text/css", href="public/vendor/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="public/vendor/bootstrap/css/bootstrap-responsive.min.css")
        link(rel="stylesheet", type="text/css", href="public/vendor/animate.css/animate.min.css")
        link(rel="stylesheet", type="text/css", href="public/css/index.css")
        script(src="public/vendor/jquery/jquery.min.js")
        script(src="public/vendor/jquery.stellar/jquery.stellar.min.js")
        script(src="public/vendor/jquery.localScroll/jquery.localScroll.min.js")
        script(src="public/vendor/jquery.scrollTo/jquery.scrollTo.min.js")
        script(src="public/js/index.js")
    body
        div.logo-intro
            div.logo-up
                img.logo(src="public/img/hax4_logo.png") 
            div.logo-down
                img.logo(src="public/img/hax4_logo.png") 

        div.left-navigation
            ul.unstyled
                li.about
                    a(href="#about")
                        | About
                li.works
                    a(href="#works")
                        | Works
                li.opensource
                    a(href="#opensource")
                        | Open Source
                li.contact
                    a(href="#contact")
                        | Contact
                li.star
                    a(href="#star")
                        | &#9733;

        div#about.slides.slide-about
            div.slide-content
                p 有人說，快樂的生活是一種哲學
                p 有人說快樂的生活需要很多的金錢支持
                p 但身於 Hax4 的我們不這樣認為
                p 我們認為快樂的生活來自於簡單的生活
                p 有簡單才能從中找到快樂
                p.heart ❤
                p 想一想過去小時候
                p 是不是在過去的簡單的生活裡
                p 找到了很多現在無法取得的快樂呢
                p Hax4 的我們致力於製作簡單的事物
                p 畢竟這個生活已經太多事要我們選擇

        div#works.slides.slide-works
            
        div#opensource.slides.slide-opensource
            div.slide-content
                ul.unstyled.clearfix
                    li.opensource-wrapper
                        div.opensource-image
                            img(src="http://placehold.it/200x200")
                        div.opensource-description
                            p This is a test setsetastast aestas taset ast 
                        div.opensource-link
                            a(href="#") Read More
                        

        div#contact.slides.slide-contact

        div#star.slides.slide-star
            div.parallax-item.moon(data-stellar-ratio="0.5")
                img(src="public/img/parallax/moon.png")
            div.parallax-item.cloud(data-stellar-ratio="1.3")
                img(src="public/img/parallax/cloud.png")
            div.slide-content
                img.logo(src="public/img/hax4_logo.png")
                div.slogan
                    | Life Should Be Simple. 
