body {
  overflow: auto;
  overflow-x: hidden;
  font-family: 'Merriweather Sans', sans-serif;
}

.logo-intro {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.logo-intro .logo-up,
.logo-intro .logo-down {
  position: relative;
  height: 50%;
  overflow: hidden;
  background: white;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  -ms-animation-delay: 1.8s;
  -o-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.logo-intro .logo-up .logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -300px;
  margin-bottom: -150px;
}
.logo-intro .logo-down .logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -300px;
  margin-top: -150px;
}

.left-navigation {
  position: fixed;
  top: 35%;
  z-index: 9;
}
.left-navigation ul li {
  width: 180px;
  text-align: right;
  line-height: 30px;
  font-size: 26px;
  padding: 5px;
  border-left-width: 10px;
  border-left-style: solid;
}
.left-navigation ul li a {
  text-decoration: none;
  color: white;
  display: block;
}
.left-navigation ul li.about {
  background-color: #ffcc99;
  border-left-color: #ffcc99;
}
.left-navigation ul li.works {
  background-color: #66ccff;
  border-left-color: #66ccff;
}
.left-navigation ul li.opensource {
  background-color: #e2802f;
  border-left-color: #e2802f;
}
.left-navigation ul li.contact {
  background-color: #333333;
  border-left-color: #333333;
}
.left-navigation ul li.star {
  background-color: #000000;
  border-left-color: #000000;
}
.left-navigation ul li.active {
  border-left-color: #ffffff;
}

.slides {
  width: 100%;
  position: relative;
  z-index: 8;
}
.slides .slide-content {
  position: absolute;
}

.slide-about {
  background-color: #ffcc99;
}
.slide-about .slide-content {
  left: 50%;
  top: 50%;
  margin-left: -255px;
  margin-top: -253px;
  text-align: center;
  line-height: 36px;
  font-size: 30px;
}
.slide-about .slide-content .heart {
  color: #ff3333;
}

.slide-works {
  background-color: #66ccff;
}

.slide-opensource {
  background-color: #e2802f;
}
.slide-opensource .slide-content {
  left: 30%;
  top: 30%;
}
.slide-opensource .slide-content .opensource-wrapper {
  width: 188px;
  float: left;
  padding: 5px;
  border: 1px solid #ccc;
}
.slide-opensource .slide-content .opensource-description {
  padding: 10px 0;
  color: #ffffff;
  text-align: left;
}
.slide-opensource .slide-content .opensource-link {
  text-align: center;
}

.slide-contact {
  background-color: #333333;
}

.slide-star {
  background-color: #000000;
}
.slide-star .slide-content {
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -164px;
}
.slide-star .slide-content .slogan {
  font-size: 26px;
  line-height: 28px;
  text-align: center;
  padding: 5px;
  color: #fff;
}

.parallax-item {
  position: absolute;
}
.parallax-item.moon {
  top: 30px;
  left: 50px;
}
.parallax-item.cloud {
  top: 50px;
  right: 800px;
}

/*
#container {
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 50px;
}

#front {
    background-color: #bb0104;
    position: relative;

    #logo {
        position: absolute;
        right: 0;
        top: 25%;
    }
}

#about {
    background-color: #f08300;
}

#members {
    background-color: #93b881;

    ul {
        margin: 0;
    }

    // Fix this later

    li.each-member { 
        float: left;
        width: 250px;
        height: 500px;
        border: 1px solid white;
        opacity: 0.7;

        &:hover {
            opacity: 1;
            transition: opacity 0.5s ease;
            -webkit-transition: opacity 0.5s ease;
        }
    }

    .eragonj {
        background-image: url('../img/avatars/eragonj.jpeg');
        background-position: 0 -10px;
    }
    .mioboo {
        background-image: url('../img/avatars/mioboo.jpeg');
        background-position: -150px 0px;
    }
    .bu {
        background-image: url('../img/avatars/bu.jpeg');
        background-position: -150px 0px;
    }
    .nuz {
        background-image: url('../img/avatars/nuz.jpg');
        background-position: -250px -360px;
    }
}

#projects {

    background-color: #e6b422;
}

#contact {

    background-color: white;

    .left {
        width: 40%;
        float: left;
    }
    
    .right {
        float:right;
        border-left: 1px solid #EEE;
    }
    // background-color: #164a84;
}

.clear {
    clear: both;
}

#claim {
    margin: 0 auto;
    margin-top: 2em;
    font-size: 24px;
    line-height: 24px;
}
*/
