body {
  overflow: auto;
  overflow-x: hidden;
}

.logo-intro {
  position: absolute;
  top: 0;
  width: 100%;
}
.logo-intro .logo-up,
.logo-intro .logo-down {
  position: relative;
  height: 50%;
  overflow: hidden;
  background: white;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
.logo-intro .logo-up .logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -300px;
  margin-bottom: -150px;
}
.logo-intro .logo-down .logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -300px;
  margin-top: -150px;
}

#container {
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 50px;
}

.slides {
  width: 100%;
}

#front {
  background-color: #bb0104;
  position: relative;
}
#front #logo {
  position: absolute;
  right: 0;
  top: 25%;
}

#about {
  background-color: #f08300;
}

#members {
  background-color: #93b881;
}
#members ul {
  margin: 0;
}
#members li.each-member {
  float: left;
  width: 250px;
  height: 500px;
  border: 1px solid white;
  opacity: 0.7;
}
#members li.each-member:hover {
  opacity: 1;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
}
#members .eragonj {
  background-image: url("../img/avatars/eragonj.jpeg");
  background-position: 0 -10px;
}
#members .mioboo {
  background-image: url("../img/avatars/mioboo.jpeg");
  background-position: -150px 0px;
}
#members .bu {
  background-image: url("../img/avatars/bu.jpeg");
  background-position: -150px 0px;
}
#members .nuz {
  background-image: url("../img/avatars/nuz.jpg");
  background-position: -250px -360px;
}

#projects {
  background-color: #e6b422;
}

#contact {
  background-color: white;
}
#contact .left {
  width: 40%;
  float: left;
}
#contact .right {
  float: right;
  border-left: 1px solid #EEE;
}

.clear {
  clear: both;
}

#claim {
  margin: 0 auto;
  margin-top: 2em;
  font-size: 24px;
  line-height: 24px;
}
